argostranslate==1.11.0
customtkinter==6.0.0
deep-translator==1.11.4
pillow==12.2.0
pyinstaller==6.21.0
PyMuPDF==1.27.2.3
winrt-runtime==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Media.Ocr==3.2.1
winrt-Windows.Storage.Streams==3.2.1
